.advantages {
  padding: 69px 0 78px 0;
  background-color: #f6f6f6;
  min-height: 470px;
  &__title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  &__list {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: top;
  }
  &__item {
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #0d0d0d;
    width: 250px;
    margin: 0 10px;
    
    img {
      display: block;
      filter: invert(11%) sepia(65%) saturate(7197%) hue-rotate(358deg) brightness(109%) contrast(95%);
      width: 70px;
      margin: 0 auto;
      margin-bottom: 38px;
      &:last-child {
        transform: scaleX(-1);
      }
    }
    span {
      display: block;
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #0d0d0d;
      margin-bottom: 25px;
    }
    a {
      color: #ff0000;
      font-weight: 500;
    }
  }
  &__icon {
    &_animated {
      animation: heartbeat 1.5s ease infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
}